.btn {
  display: inline-block;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
  background-color: #2979ff;
  border-radius: 8px;
  width: 300px;
  border: none;
  outline: none;
  margin: 10px;
}

.btnSecond {
  display: inline-block;
  padding: 20px 30px;
  color: white;
  font-size: 16px;
  background-color: red;
  border-radius: 8px;
  width: 300px;
  border: none;
  outline: none;
  margin: 10px;
}
