.toogle{
   width: 100px;
   height: 50px;
   background-color: #ccc;
   padding: 5px;
   border-radius: 100rem;
   margin: 25px;cursor: pointer;
}

.spinner{
   width: 40px;
   height: 40px;
   background-color: #fff;
   border-radius: 100rem;
   
}